<app-username
  (userNameEvent)="userNameUpdate($event)"
  *ngIf="!userName"
></app-username>

<div class="relative top-10 flex" *ngIf="userName">
  <div
    class="relative w-3/12 h-128 top-0 left-10 rounded-b-lg bg-purple-700 flex-col flex"
  >
    <app-sidebar (eventEmitter)="stanza($event)"></app-sidebar>
  </div>
  <div class="relative top-0 left-10 w-8/12 h-128">
    <div class="h-16 bg-purple-700">
      <app-navbar [userName]="userName"></app-navbar>
    </div>
    <div class="h-99">
      <main class="relative w-full flex-1">
        <div class="h-98.5 bg-amber-400 pt-6 pb-0 pl-8" *ngIf="userName">
          <div class="chatbox h-98.5">
            <div class="overflow-auto h-98.5 justify-end content-end">
              <div class="chatbox__messages" *ngFor="let msg of messageList">
                <div class="container" *ngIf="msg.id_account == ID_account">
                  <img src="/w3images/bandmember.jpg" alt="Avatar" />
                  <h5>{{ msg.id_account }}</h5>
                  <p>{{ msg.message }}</p>
                  <span class="time-right">{{ msg.time }}</span>
                </div>

                <div
                  class="container darker"
                  *ngIf="msg.id_account != ID_account"
                >
                  <img
                    src="/w3images/avatar_g2.jpg"
                    alt="Avatar"
                    class="right"
                  />
                  <h5>{{ msg.id_account }}</h5>
                  <p>{{ msg.message }}</p>
                  <span class="time-left">{{ msg.time }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full relative border-2 border-solid border-purple-700 rounded-lg">
          <input type="text" [(ngModel)]="message" class="w-full rounded-lg pl-1"/>
          <button (click)="sendMessage()" class="absolute top-0 right-0 pr-1">Send</button>
        </div>
      </main>
    </div>
  </div>
</div>
<div class="position absolute left-0 bottom-0">
  <button (click)="messaggioStanza()">invia</button><br>
  <button (click)="disconnect()">disconnetiti</button><br>
</div>
