<div class="relative top-0 left-0 w-full h-1/5 flex">
  <div class="relative top-5 left-6 w-20 h-20">
    <img
      src="https://i.imgur.com/aq39RMA.jpg"
      width="80"
      height="80"
      class="rounded-full"
    />
  </div>
  <div class="relative top-9 left-10 w-30 h-10 flex">
    <span class="text-black text-4xl">utente</span>
  </div>
  <div class="relative top-10 left-36 w-30 h-10 flex-1">
    <button (click)="openAddChat()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 w-8 border-solid border-2 border-black rounded-lg flex-1"
        viewBox="0 0 20 20"
        fill="black"
      >
        <path
          fill-rule="evenodd"
          d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
</div>

<div class="relative left-0 top-0 w-full h-10 bg-purple-800">
  <input
    type="search"
    class="w-full h-full rounded-lg pl-1 border-2 border-solid border-purple-700"
  />
  <button
    type="submit"
    class="absolute top-0 right-0 p-2.5 text-sm font-medium text-white bg-purple-800 rounded-r-lg hover:bg-purple-900"
  >
    <svg
      aria-hidden="true"
      class="w-5 h-5"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      ></path>
    </svg>
  </button>
</div>

<div class="w-full h-98 flex-col overflow-auto">
  <ul>
    <a *ngFor="let chat of listaChat" (click)="emitChat(1001)">
      <li
        class="flex justify-between items-center mt-0 p-2 hover:bg-purple-800 cursor-pointer transition"
      >
        <div class="flex ml-2">
          <img
            src="https://i.imgur.com/aq39RMA.jpg"
            width="40"
            height="40"
            class="rounded-full"
          />
          <div class="flex flex-col ml-2">
            <span class="font-medium text-black">{{ chat.nome }}</span>
            <span class="text-sm text-gray-400 truncate w-32">messaggio</span>
          </div>
        </div>
        <div class="flex flex-col items-center">
          <span class="text-gray-300">ora</span>
          <i class="fa fa-star text-green-400"></i>
        </div>
      </li>
    </a>

  </ul>
</div>
